body{
    margin:0px;
    padding: 0px;
    font-family: poppins;
    background-image: url(images/background.jpg);
}
.site-name strong{
    font-size: 3rem;
    letter-spacing: 1px;
    color: #1b1919;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 40px;
    padding: 5px 30px;
    
}
.site-name{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cart-image{
    
    background-color: aliceblue;
    
 
}
.bag-img{
   height:34vh;
   margin: 30px;
   padding-top: 30px;
   align-content: flex-end;
   justify-content: center;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   display: block;
}
.nothing-text{
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: #1b1919;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 40px;
    padding: 5px 30px;
    
    text-align: center;
}
.cat-text{
    letter-spacing: 1px;
    color: #1b1919;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 10px;
    padding: 5px 30px;
    
    text-align: center;
}
.meno,.women{
    letter-spacing: 1px;
    color: #1b1919;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 10px;
    padding: 5px 30px;
    
    text-align: center;
    display: flex;
    height: 5vh;
    border: 1px solid rgba(0,0,0,0.05);
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    justify-content: space-between;
}
 a{
    text-decoration: underline;
    margin: 0px 10px;
    font-size: 1.2rem;
    color: rgba(253, 129, 80, 0.7);
}
  a:hover{

    color: #0b9d8a;
    transition: all ease 0.3s;
}

